@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Rubik:wght@700&family=Shadows+Into+Light&display=swap');

/* Structural settings */

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    background-color: #FFF9EA;
    color: #0E150E;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.main-container {
    width: 100%; 
    margin: auto; 
}

/* Home page */

/* Navigation bar, navigation links and logo */

#nav-bar {
    background-color: #FFF9EA;
    height: 68px;
}

.logo {
    font-family: 'Shadows Into Light', sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 8px;
    position: absolute;
}

.logo a {
    color: #00473c;
    text-decoration: none;
}

.itens-left {
    padding-left: 50px;
}

.itens-right {
    padding-right: 50px;
}

.nav-row ul {
    list-style-type: none;
    text-align: right;
    margin: auto;
    padding: 20px 0 0;
}

.nav-row ul li {
    float: none;
    display: inline-block;
}

.nav-row ul li:nth-child(1) {float: left;}
.nav-row ul li:nth-child(2) {float: left;}

.item-three_position {
    left: 10px;
    position: relative;
}

.nav-row ul li a {
    color: #0E150E;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 3px 30px;
}

/* Sticky navigation and hover effect */

.main-header {
    width: 100%;
    top: 0;
    z-index: 3;
    position: -webkit-sticky; 
    position: sticky; 
}

.nav-row a:hover {
    text-decoration: underline;
    text-underline-offset: 0.225rem;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link.active {
    text-decoration: underline;
    text-underline-offset: 0.225rem;
}

/* Hero image and cover box */

#hero-image {
    background: url(../images/hero-image.jpg) center center no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
}

#cover-text {
    background-color: #CAF0EA;
    color: #0E150E;
    font-size: 210%;
    text-transform: uppercase;
    text-align: center;
    height: 450px;
    max-width: 400px;
    border-radius: 15px;
    float: left;
    margin: 0 75px;
    position: static;
}


#cover-text h2 {
    padding: 20px 25px;
}

/* Cover button hover effect */

#cover-button {
    background-color: #0E150E;
    height: 40px;
    max-width: 230px;
    border-radius: 15px;
    margin: 0 auto;
}

#cover-button h3 {
    font-size: 70%;
    letter-spacing: 2px;
    padding: 5px 4.5px;
}

#cover-button a {
    color: #FFF9EA;
    text-transform: capitalize;
    text-decoration: none;
}

#cover-button a:hover {
    background-color: #FFF9EA;
    color: #0E150E;
    border-radius: 10px;
}

/* Select your plan */

.container {
    height: 755px;
    width: 100%;
}

.container h2 {
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    top: 42px;
    position: relative;
}

.container p {
    font-size: 105%;
    text-transform: none;
    text-align: center;
    top: 48px;
    position: relative;
}

#plans-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    height: 560px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.plan-items {
    text-align: center;
    max-height: 350px;
    max-width: 350px;
}

.plan-items img {
    width: 100%;
    border-radius: 15px;
}

.plan-items h3 {
    font-size: 160%;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 20px;
}

.plan-items p {
    font-size: 80%;
    text-align: justify;
    top: 20px;
}

.plan-items a {
    color: #0E150E;
    text-decoration: none;
}

/* Plans link hover effect */

.plan-items a:hover {
    border-bottom: 1px solid #0E150E;
}

/* How it works */

.second-container {
    background-color: #BDE0D7;
    height: 580px;
}

.second-container h2 {
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    top: 42px;
    position: relative;
}

.second-container p {
    font-size: 105%;
    text-transform: none;
    text-align: center;
    top: 48px;
    position: relative;
}

#steps-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 450px;
    max-width: 1200px;
    margin: 0 auto;
}

.steps-items {
    text-align: center;
    max-width: 350px;
    margin: 0 10px;
    top: 25px;
    position: relative;
}

.steps-items h3 {
    font-size: 160%;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 30px;
}

.steps-items p {
    font-size: 80%;
    text-align: justify;
    width: 300px;
    top: 20px;
}

/* Circle number hover effect */

.circle-number {
    background-color: #00473c;
    font-family: 'Shadows Into Light', sans-serif;
    color: #FFF9EA;
    font-size: 250%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-number > h2 {
    top: 0;
}

.circle-number > h2:hover {
    background-color: #FFF9EA;
    color: #00473c;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #0E150E;
}

/* Meet the chef */

#chef-container {
    background-color: #FFF9EA;
    height: 795px;
    width: 100%;
}

#chef-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 795px;
    max-width: 1600px;
    margin: 0 auto;
}

#text-items {
    text-align: start;
    max-height: 795px;
    width: 65%;
    margin: 40px 0 25px 25px;
}

#text-items > h2 {
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: justify;
}

#text-items p {
    font-size: 140%;
    line-height: 200%;
    letter-spacing: 2px;
    text-align: justify;
}

#portrait-items {
    max-width: 30%;
    text-align: center;
    margin: auto;
}

#portrait-items img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 15px;
    margin: 0 auto;
}

/* Our Story button hover effect */

#story-button {
    background-color: #0E150E;
    border-radius: 13px;
    height: 37px;
    width: 160px;
}

#story-button h3 {
    font-size: 140%;
    letter-spacing: 2px;
    left: 7%;
    top: 4px;
    position: relative;
}

#story-button a {
    color: #FFF9EA;
    text-transform: capitalize;
    text-decoration: none;
}

#story-button a:hover {
    background-color: #FFF9EA;
    color: #0E150E;
    border-radius: 10px;
}

/* Footer */

#footer {
    background-color: #D3C2AE;
    height: 68px;
    width: 100%;
}

.footer-row ul {
    list-style-type: none;
    text-align: right;
    margin: auto;
    padding: 20px 0 0;
}

.footer-row ul li {
    float: none;
    display: inline-block;
}

.footer-row ul li:nth-child(1) {float: left;}

.footer-row ul li:nth-child(2) {float: left;}

.footer-row ul li:nth-child(3) {float: left;}

.footer-row ul li a {
    color: #0E150E;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    padding: 3px 30px;
}

.mobile-disappear {
    float: right;
}

/* Footer link hover effect */

.footer-row a:hover {
    text-decoration: underline;
    text-underline-offset: 0.225rem;
}

/* PLANS PAGE */

/* Plan heading */

.plansp-container {
    background-color: #DCE6C1;
    height: 1145px;
}

.plan-heading {
    background-color: #FFF9EA;
    height: 150px;
}

.plan-heading h2 {
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 24px;
}

.plan-heading p {
    font-size: 105%;
    text-transform: none;
    text-align: center;
    padding-top: 6px;
}

/* Traditional and vegetarian */

.first-food_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 485px;
    max-width: 1000px;
    margin: 0 auto;
}

.second-food_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 410px;
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.food-items {
    max-width: 300px;
    text-align: center;
    bottom: 10px;
    position: relative;
}

.food-items img {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.food-items h3 {
    font-size: 160%;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 20px;
}

.food-items p {
    font-size: 80%;
    text-align: justify;
    top: 20px;
    position: relative;
}

/* Personalised */

.personalised-container {
    background-color: #FFF9EA;
    height: 640px;
}

#personalised-box {
    background-color: #FFE1A8;
    height: 445px;
    max-width: 900px;
    border-radius: 15px;
    margin: 0 auto;
}

#personalised-box h2 {
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 2px dotted #0E150E;
    padding: 30px 30px 30px;
}

#personalised-box p {
    font-size: 140%;
    text-align: justify;
    letter-spacing: 1px;
    padding: 30px 80px;
}

/* Order now button */

.order-button {
    background-color: #0E150E;
    border-radius: 13px;
    height: 37px;
    width: 160px;
    margin: 0 auto;
    position: relative;
}

.order-button h3 {
    font-size: 140%;
    letter-spacing: 2px;
    left: 7%;
    top: 4px;
    position: relative;
}

.order-button a {
    color: #FFF9EA;
    text-transform: capitalize;
    text-decoration: none;
}

.order-button a:hover {
    background-color: #FFF9EA;
    color: #0E150E;
    border-radius: 10px;
}

/* ABOUT PAGE */

/* About heading */

#about-heading {
    background-color: #FFF9EA;
    height: 150px;
}

#about-heading h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 300%;
    text-align: center;
}

/* About us */

.about-container {
    background-color: #DCE6C1;
    height: 480px;
}

#about-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 480px;
    max-width: 1200px;
    margin: 0 auto;
    border: 5px;
}

#about-text_items {
    max-height: 480px;
    width: 45%;
    padding-top: 20px;
    padding-right: 25px;
}

#about-text_items h2 {
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#about-text_items p {
    font-size: 120%;
    letter-spacing: 1px;
    text-align: justify;
}

#about-text_items hr {
    border-top: 2px dotted #0E150E;
    margin: 10px 0 20px ;
}

#about-image_item {
    width: 45%;
    padding-top: 62px;;
    padding-left: 25px;
}

#about-image_item img {
    max-height: 75%;
    max-width: 100%;
    border-radius: 25px;
}

/* Our goals */

.goals-container {
    background-color: #FFE1A8;
    height: 480px;
}

#goals-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 480px;
    max-width: 1200px;
    margin: 0 auto;
}

#goals-text_items {
    max-height: 480px;
    width: 45%;
    padding-top: 20px;
    padding-left: 25px;
}

#goals-text_items h2 {
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#goals-text_items p {
    font-size: 120%;
    letter-spacing: 1px;
    text-align: justify;
}

#goals-text_items hr {
    border-top: 2px dotted #0E150E;
    margin: 10px 0 20px ;
}

#goals-image_item {
    width: 45%;
    padding-top: 62px;;
    padding-right: 25px;
}

#goals-image_item img {
    max-height: 75%;
    max-width: 100%;
    border-radius: 25px;
}

/* CONTACT PAGE */

/* Contact heading */

#contact-heading {
    background-color: #FFF9EA;
    height: 150px;
}

#contact-heading h2 {
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

/* Form */

.contact-container {
    background-color: #DCE6C1;
    height: 958px;
    width: 100%;
}

.contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 808px;
    max-width: 1080px;
    margin: 0 auto;    
}

#contact-img_item {
    width: 45%;
    padding-top: 66.5px;
}

#contact-img_item img {
    max-height: 675px;
    max-width: 700px;
    border-radius: 25px;
}

.contact-form_item {
    max-width: 49%;
    padding-left: 20px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.contact-form_item h2 {
    font-size: 260%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.contact-form_item p {
    width: 520px;
    text-align: justify;
    margin: 20px 0;
}

.contact-form_item input {
    margin-bottom: 10px;
}

.contact-form_item label {
    bottom: 6px;
    position: relative;
}

#informative-box_text p {
    bottom: 12px;
    position: relative;
}
.text-input {
    background-color: #FFF9EA;
    color: #0E150E;
    height: 40px;
    width: 515px;
    border-radius: 10px;
    border: 1px solid #0E150E;
    padding-left: 5px;
}

.message-box {
    background-color: #FFF9EA;
    color: #0E150E;
    height: 110px;
    width: 515px;
    border-radius: 10px;
    border: 1px solid #0E150E;
    padding-top: 10px;
    padding-left: 5px;
    bottom: 16px;
    position: relative;
}

/* Text input shadow effect */

.message-box:focus, .text-input:focus {
    outline: none !important;
    border-color: #00473c;
    box-shadow: 0 0 10px #00473c;
}

.upload-button {
    bottom: 6px;
    position: relative;
}

/* Submit button */

.submit-button_box {
    background-color: #0E150E;
    height: 32px;
    width: 120px;
    border-radius: 12px;
    margin-top: 10px;
    top: 5px;
    left: 200px;
    position: relative;
}

#submit-button {
    background-color: #0E150E;
    font-size: 125%;
    color: #FFF9EA;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10px;
    top: 5px;
    left: 8px;
    position: relative;
}

#submit-button:hover {
    background-color: #FFF9EA;
    color: #0E150E;
    border-radius: 10px;
}

/* THANK YOU PAGE */

/* Thank you heading */

#thanks-heading {
    background-color: #FFF9EA;
    height: 150px;
    text-align: center;
}

#thanks-heading h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 320%;
    padding-top: 30px;
}

/* Thank you */

.thanks-text_item {
    width: 49%;
    margin-left: 20px;
    margin-top: 20px;
}

.thanks-text_item h2 {
    font-size: 260%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 20px;
}

.thanks-text_item p {
    font-size: 140%;
    width: 100%;
    text-align: justify;
}

.thanks-text_item a {
    color: #FFF9EA;
    text-decoration: none;
}

.thanks-text_item a:hover {
    border-bottom: 1px solid #0E150E;
}

/* Media queries */

/* 1200px wide and down */

@media screen and (max-width: 1170px) {
    .container {
        height: 1345px;
    }

    #plans-box {
        height: 1160px;
        padding-top: 70px;
    }

    .plan-items {
        height: 540px;
        padding: 20px 62.2px;
    }

    .contact-form_item {
        padding-left: 0;
    }
}

/* 1025px wide and down */

@media screen and (max-width: 1025px) {
    
    #chef-container {
        height: 1310px;
    }

    #chef-box {
        align-items: center;
    }

    #text-items {
        width: 95%;
    }

    #portrait-items {
        min-width: 50%;
    }

    .contact-container {
        height: 1750px;
    }

    .contact-box {
        height: 1500px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #contact-img_item {
        width: 100%;
    }

    .contact-form_item p {
        width: 514px;
    }

    #submit-button {
        left: 0;   
    }
}

/* 950px wide and down */

@media screen and (max-width: 950px) {
    .nav-row ul li a {
        font-size: 80%;
        padding: 3px 15px;
    }

    .itens-left {
        padding-left: 30px;
    }

    .itens-right {
        padding-right: 30px;
    }
    
    #cover-text {
        float: none;
        margin: 0 auto;
    }

    .container {
        height: 1900px;
    }

    #plans-box {
        height: 1700px;
        padding-top: 70px;
    }

    .second-container {
        height: 1018px;
    }

    #steps-box {
        height: 900px;
    }

    #text-items {
        margin: 40px 25px 25px 25px;
    }

    /* .plansp-container {
        height: 2500px;
    }

    .first-food_box {
        height: 1367px;
        justify-content: space-around;
    }

    .second-food_box {
        height: 910px;
        justify-content: space-around;
        padding-bottom: 0;
    }

    .food-items {
        padding: 20px 100px;
    }

    #personalised-box p {
        font-size: 80%;
    }

    #goals-text_items p, #about-text_items p {
        font-size: 100%;
    }

    #about-heading h2 {
        font-size: 250%;
    }
    #about-text_items h2 {
        font-size: 290%;
    }

    #goals-text_items h2 {
        font-size: 290%;
    }

    #contact-heading h2 {
        font-size: 250%;
        padding-top: 10px;
    } */
}

/* 650px wide and down */

@media screen and (max-width: 650px) {
    .nav-row ul li a {
        font-size: 50%;
        padding: 3px 8px;
    }

    .itens-left {
        padding-left: 10px;
    }

    .itens-right {
        padding-right: 10px;
    }   

    .container {
        height: 1840px;
    }

    .container h2 {
        font-size: 250%;
    }

    .container p {
        font-size: 80%;
    }

    #plans-box {
        padding: 50px 0;
    }

    .second-container {
        height: 1400px;
    }

    #steps-box {
        height: 1250px;
        margin: 0 10px;
    }

    .plan-items {
        padding: 10px 10px;
    }

    #chef-container {
        height: 1000px;
    }

    #text-items p {
        font-size: 100%;
    }

    #text-items > h2 {
        font-size: 250%;
    }

    #text-items {
        margin: 40px 10px 25px 10px;
    }

    .mobile-disappear {
        display: none;
    }

    .center-icons {
        display: flex;
        justify-content: center;
    }
}

/* 417px wide and down */

@media screen and (max-width: 417px) {

    .nav-row ul li a {
        font-size: 40%;
        padding: 3px 2px;
    }

    .itens-left {
        padding-left: 5px;
    }

    .itens-right {
        padding-right: 5px;
    }   

    #cover-text {
        font-size: 170%;
        height: 390px;
        margin: 5px;
    }
    .container {
        height: 1900px;
    }

    #chef-container {
        height: 1060px;
    }
}