@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Rubik:wght@700&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EAE6DA;
    color: #0E150E;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.main-container {
    width: 100%; 
    margin:0 auto; 
}

/* Navigation bar, navigation links and logo */

#nav-bar {
    background-color: #EAE6DA;
    height: 7vh;
}

.logo {
    font-family: 'Shadows Into Light', sans-serif;
    transform: translateX(-50%);
    left: 50%;
    top: 8px;
    position: absolute;
}

.logo a {
    color: #00473c;
    text-decoration: none;
}

.itens-left {
    padding-left: 50px;
}

.itens-right {
    padding-right: 50px;
}

.nav-row ul {
    list-style-type: none;
    text-align: right;
    margin: auto;
    padding: 20px 0 0;
}

.nav-row ul li {
    float: none;
    display: inline-block;
}

.nav-row ul li:nth-child(1) {float: left;}
.nav-row ul li:nth-child(2) {float: left;}

.nav-row ul li a {
    color: #0E150E;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 3px 30px;
}

/* Sticky navigation and hover effect */

.main-header {
    width: 100%;
    top:0;
    z-index: 3;
    position:-webkit-sticky; 
    position:sticky; 
}

.nav-row a:hover {
    text-decoration: underline;
    text-underline-offset: 0.225rem;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link.active {
    text-decoration: underline;
    text-underline-offset: 0.225rem;
}

/* Hero image and cover box */

#hero-image {
    background: url(../images/hero-image.jpg) center center no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2 {
    padding: 25px;
}

#cover-text {
    background-color: #D7E5D6;
    color: #0E150E;
    font-size: 210%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    height: 450px;
    width: 400px;
    left: 80px;
    top: 225px;
    position: absolute;
}